/* App.css */

/* Import de la police Formula1 */
@import url('https://fonts.googleapis.com/css2?family=Formula1+Display:wght@400&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Formula1 Display', sans-serif; 
  position: relative; /* Positionnement relatif pour l'arrière-plan */
}

/* Arrière-plan avec image et opacité réduite */
.App::before {
  content: "";
  background: url('./image/voiture.jpg') center/cover; /* Image d'arrière-plan */
  opacity: 0.4;
  position: absolute;
  inset: 0; /* Raccourci pour top, right, bottom, left à 0 */
  z-index: -1; 
}

/* Style du titre */
h1 { 
  color: #E74C3C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 150px 0 80px; /* Marge condensée */
  font-size: 150px;
}

/* Conteneur du compteur */
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Valeur du compteur */
.counter-value {
  background-color: white;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.counter-value p {
  font-size: 38px;
}

/* Boutons du compteur */
.counter-buttons button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 36px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 30px 70px; /* Marge combinée */
  width: 80px;
  text-align: center;
  margin-top: 70px;
}

.counter-buttons button:hover {
  background-color: #C0392B;
}
